<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="icon" type="image/png" href="~/Content/image/JobMeIcon.png" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" id="HeaderSize">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/company" class="navbar-brand"><img src="~/Content/image/JobMeHorizontal.png" class="img-responsive logo" alt="JobMe Logo" /></a>  <!--make link to User startpage -->
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Company")</li> 
                    <li class="dropdown">
                        @Html.Partial("_CurrentCompany", Session["company"])
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JobMe</p>
        </footer>
  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    @RenderSection("scripts", required: false)

    

</body>
</html>

