@model JobMe_Homepage.Models.VMMeeting

@{
    ViewBag.Title = "Meeting";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

@{
    var culture = new System.Globalization.CultureInfo("da-DK");
}
<div class="container body-content">
    <!--#region Top with buttons and add-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Møde håndtering</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
               Opret en booking session hvor møder kan afvikles. Ved at vælge dato og det ønsket tidsrum ved at angive en start og slut tidspunk,. og vælge det antal af personer der kan nås inden for tidrummet.

               
                </div>
            </div>
            <div class="row" id="marginTopMeeting">
                <form method="post" action="/Company/CreateBooking">
                    <div class="col-sm-8">
                        <input type="hidden" value="@Model.Meeting.Id" name="meetingId" />

                        <div id="inputMeeting">
                            <label class="inputLabel">Dato</label>
                            <input type="date" class="form-control" name="meetingDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        </div>


                        <div id="inputMeeting" class="timePickerMeeting">
                            <label class="inputLabel">Starttid</label>
                            <input class="form-control" type="time" name="startTime" required />
                        </div>

                        <div id="inputMeeting" class="timePickerMeeting">
                            <label class="inputLabel">Sluttid</label>
                            <input class="form-control" type="time" name="endTime" required />
                        </div>

                        <div id="inputMeeting">
                            <label class="inputLabel">Antal møder</label>
                            <select name="amountOfInterview" class="form-control">
                                @{
                                    int numberOfInterviewInOneDay = 20;
                                    for (int i = 1; i <= numberOfInterviewInOneDay; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>




                    </div>
                    <div class="col-sm-4">
                        <button type="submit" id="addNewBookingMeeting" class="btn btn-blue">Tilføj ny booking</button>
                    </div>
                </form>
            </div>
            <div class="seperatorMeeting"></div>
            <!-- #endregion -->
            <!-- #region content -->



            @foreach (var booking in Model.BookingList)
            {
                <div class="row" id="marginTopMeeting">
                    <div class="col-sm-12">
                        <div class="col-sm-10">
                            <div class="bookingTitleMeeting">
                                @culture.DateTimeFormat.GetDayName(booking.StartDateAndTime.DayOfWeek) - @booking.StartDateAndTime.Date.ToShortDateString()
                            </div>
                        </div>
                        <div class="col-sm-2">
                            @*<form method="post" action="DeleteBooking">
                                    <button type="submit" id="deleteBookingMeeting" name="deleteBooking" class="btn btn-blue">Slet booking</button>
                                </form>*@

                            <a href="/Company/DeleteBooking/?id=@booking.Id&meetingId=@Model.Meeting.Id" class="btn btn-blue" id="deleteBookingMeeting">Slet booking</a>

                        </div>
                        <div class="bookingTitleSeperator"></div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tidsrum</th>
                                    <th>Person</th>
                                    <th style="width: 20%;">Andet</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var session in booking.sessionList)
                                {
                                    <tr>
                                        <td>@session.StartTime.ToShortTimeString() - @session.EndTime.ToShortTimeString()</td>
                                        @if (session.Applier.Id != 0)
                                        {
                                            <td>@session.Applier.FName @session.Applier.LName</td>
                                        }
                                        else
                                        {
                                            <td>Fri</td>
                                        }
                                        <td>

                                            <a href="/Company/RemovePersonOnMeeting/?id=@session.Id&meetingId=@Model.Meeting.Id" class="btn btn-blue">Frigør person</a>
                                            <a href="/Company/DeleteMeeting/?id=@session.Id&meetingId=@Model.Meeting.Id" class="btn btn-blue">Slet møde</a>
                                        </td>
                                    </tr>

                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- #endregion -->
