@model JobMe_Homepage.Models.VMJobPostANDJobPostList

@{
    ViewBag.Title = "JobPost";
    Layout = "~/Views/Shared/_LayoutApplier.cshtml";

    JobMe_Homepage.ApplierServiceReference.Applier applier = Session["applier"] as JobMe_Homepage.ApplierServiceReference.Applier;
}
<!--#region jobPost infomation-->
<div class="container body-content">
    <div class=" panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12" id="jobPostLeftContent">
                    <div class="row">
                        <div class="col-sm-8">
                            <!-- Basic contact info and jobpost info-->
                            <p id="jobPostTitle">@Model.jobPost.Title</p>
                            <div class="jobPostBasicInfo">Annonce oprettet af @Model.jobPost.company.CompanyName i @Model.jobPost.jobCategory.Title</div>
                            <div class="jobPostBasicInfo">Ansættelse: @Model.jobPost.workHours.Type</div>
                            <div class="jobPostBasicInfo">Ansøgnings periode: @Model.jobPost.StartDate.ToShortDateString() - @Model.jobPost.EndDate.ToShortDateString()</div>
                            <div class="jobPostBasicInfo">Lokation: @Model.jobPost.Address</div>

                        </div>
                        <div class="col-sm-4">
                            <!--Profile image from the company!-->
                            @if (Model.jobPost.company.ImageURL != null)
                            {
                                <img src="@Model.jobPost.company.ImageURL" id="jobPostCompanyPic" class="img-responsive" />
                            }
                            else
                            {
                                <img src="/Content/image/JobMeHorizontal.png" id="jobPostCompanyPic" class="img-responsive" />
                            }

                        </div>
                    </div>
                    <!--Seperator-->
                    <div class="row" id="seperator"></div>
                    <div id="seperatorStyling"></div>
                    <div  id="descriptionText">Beskrivelse:</div>
                    <div  id="descriptionBodyText">
                        @Model.jobPost.Description
                    </div>
                    <div id="seperatorStyling"></div>
                    <div  id="descriptionText">Kategori:</div><div id="descriptionBodyText">@Model.jobPost.jobCategory.Title</div>


                    @if (applier.Status)
                    {

                        <div class="col-lg-2" style="float: right">
                            <a id="jobPostStyle" class="btn-blue btn" href="/Applier/SendApplication/@Model.jobPost.Id">Send ansøgning</a>

                        </div>
                    }
                    else
                    {
                        <div class="col-lg-2" style="float: right">
                            <button  id="jobPostStyle" class="btn btn-blue">Ikke aktiv </button>
                        </div>
                    }

                </div>

                <div class="col-sm-12 ">
                    <label id="ApplierIndexTitle" class="ApplierIndexTitleMargin">Andre ligende jobs</label>

                    @foreach (var jobPost in Model.jobPostList.Where(m => m.jobCategory.Id.Equals(Model.jobPost.jobCategory.Id)).OrderBy(x => Guid.NewGuid()).Take(3))
            {

                        <div class="col-sm-12 bg-white jobPost content panel panel-default">
                            <div class="row">

                                <div class="col-xs-3">
                                    <img class="img-responsive" src="@jobPost.company.ImageURL">
                                </div>
                                <div class="col-xs-7">
                                    <h4 class="company-Name"><strong>@jobPost.Title</strong></h4><h5><strong>@jobPost.company.CompanyName</strong></h5><h4><small>@jobPost.Description</small></h4>
                                </div>
                                <div class="col-xs-2 pull-right">
                                    <a id="jobPostButtonStyle" class="btn btn-blue" href="/applier/JobPost/@jobPost.Id">Læs mere</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                
            </div>
        </div>
    </div>

    </div>

    @*<!--#endregion-->
            <!--#region jobPost right infomation-->
            <div class="col-sm-3" id="jobPostRightContent">
                hej
            </div>
        </div>
        <!--#endregion-->*@






